.div {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.wrapper {
  position: absolute;
  top: 59px;
  left: calc(50% - 147px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.passwordErrorPopup {
  position: relative;
  border-radius: var(--br-18xl);
  background-color: var(--color-white);
  border: 1px solid var(--main-yellow);
  box-sizing: border-box;
  width: 542px;
  height: 140px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
