@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rozha+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-noto-sans-kr: "Noto Sans KR";
  --font-inter: Inter;
  --font-rozha-one: "Rozha One";
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-2xs: 11px;
  --font-size-3xl: 22px;
  --font-size-xs: 12px;
  --font-size-mid: 17px;
  --font-size-11xl: 30px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-26xl: 45px;
  --font-size-base: 16px;
  --font-size-36xl: 55px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --main-yellow: #ceff00;
  --main-blue: #00b2ea;
  --color-black: #000;
  --white-grey: #f5f7fa;
  --light-grey: #e4e4e4;
  --text-black: #313131;
  --color-gray-100: #777;
  --color-gray-200: #212121;
  --color-gray-300: rgba(255, 255, 255, 0.85);
  --color-lightgray: #ccc;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-lg: 18px;
  --gap-mini: 15px;
  --gap-3xs: 10px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-xl: 20px;
  --gap-smi: 13px;
  --gap-2xs: 11px;
  --gap-10xs: 3px;
  --gap-11xl: 30px;
  --gap-8xs: 5px;
  --gap-41xl: 60px;
  --gap-14xl: 33px;
  --gap-133xs: -120px;
  --gap-111xl: 130px;
  --gap-2xl: 21px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-45xl: 64px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-41xl: 60px;
  --padding-131xl: 150px;
  --padding-31xl: 50px;
  --padding-xl: 20px;
  --padding-116xl: 135px;
  --padding-0: 0px;
  --padding-5xs: 8px;
  --padding-base-1: 16.1px;
  --padding-mini: 15px;
  --padding-base-2: 15.2px;
  --padding-lg: 18px;
  --padding-101xl: 120px;
  --padding-12xl: 31px;

  /* border radiuses */
  --br-11xs: 2px;
}
